$font-size: "20px";
$background: red;

.hello-world-button {
  font-size: $font-size;
  padding: 7px 15px;
  background: $background;
  color: white;
  outline: none;
}

.hello-world-text {
  color: $background;
  font-weight: bold;
}
